html { 
    display: block; 
    background: #000; 
    -webkit-user-select: none; 
    user-select: none; 
    overflow: hidden; 
    height: 100%; 
}
body { 
    position: relative; 
    background-color: black; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 0; 
    height: 100%; 
    color: white; 
    font-family: monospace; 
}
canvas { 
    display: none; 
    user-select: none; 
}
.loader { 
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    z-index: 5; 
    text-align: center; 
    width: 85vw; 
}
#bar-container { 
    width: 100%; 
    border: 1px solid #333; 
    height: 4px; 
    margin: 10px 0; 
}
#bar { 
    background: #b00; 
    width: 0%; 
    height: 100%; 
    transition: width 0.1s; 
}
#play-zone { 
    display: none; 
    z-index: 10; 
    text-align: center; 
}
#play-button { 
    background: #111; 
    border: 2px solid #b00; 
    color: white; 
    padding: 20px 50px; 
    font-size: 24px; 
    cursor: pointer; 
    font-family: monospace; 
}
#play-button:hover { 
    background: #b00; 
    color: white; 
}
